body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
    color: aliceblue;
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    color: #000;
}

.brown {
    background-color: brown;
}

.darkblue {
    background-color: darkblue;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    padding: 100px 20vw;
}